---
title: Alderton Sub Station
---

<div class="container-big">
<!--   <h1 class="title">Alderton Sub Station</h1> -->
  <div class="project-wrapper" style="padding-top: 120px">
  <!-- Slideshow images -->
    <div class="produk-details-left">
      <ul class="lightgallery" id="lightSlider">
        <li data-src="/images/projects/power/alderton/alderton_sub-1.png" data-thumb="/images/projects/power/alderton/alderton_sub-1.png">
          <img src="/images/projects/power/alderton/alderton_sub-1.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/alderton/alderton_sub-2.png" data-thumb="/images/projects/power/alderton/alderton_sub-2.png">
          <img src="/images/projects/power/alderton/alderton_sub-2.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/alderton/alderton_sub-3.png" data-thumb="/images/projects/power/alderton/alderton_sub-3.png">
          <img src="/images/projects/power/alderton/alderton_sub-3.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/alderton/alderton_sub-4.png" data-thumb="/images/projects/power/alderton/alderton_sub-4.png">
          <img src="/images/projects/power/alderton/alderton_sub-4.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/alderton/alderton_sub-5.png" data-thumb="/images/projects/power/alderton/alderton_sub-5.png">
          <img src="/images/projects/power/alderton/alderton_sub-5.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/alderton/alderton_sub-6.png" data-thumb="/images/projects/power/alderton/alderton_sub-6.png">
          <img src="/images/projects/power/alderton/alderton_sub-6.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/alderton/alderton_sub-7.png" data-thumb="/images/projects/power/alderton/alderton_sub-7.png">
          <img src="/images/projects/power/alderton/alderton_sub-7.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/alderton/alderton_sub-8.png" data-thumb="/images/projects/power/alderton/alderton_sub-8.png">
          <img src="/images/projects/power/alderton/alderton_sub-8.png" width="600px" />
        </li>
      </ul>
    </div>

    <div class="project-description">
      <h3>Alderton Substation</h3>
      <p>Construct a new 3.5 acre 230kV substation connected to the existing 115kV station.  The work included clearing & grubbing, importing and placing over 30,000 yards of structural fill and yard surfacing, storm drainage, improving the existing detention pond, concrete foundations, perimeter chain link fencing, and electrical conduit, cable trench and ground grid.  Temporary, grounded fencing was installed through the existing substation for safe truck access. Subcontracted work included hydroseeding, auger cast pilings, fencing and electrical installation.  This was our third project at the Alderton site.</p>
      <h6>Location</h6>
      <p>Alderton, WA</p>
      <h6>Status</h6>
      <p>Completed October 2015</p>
      <h6>Client</h6>
      <p>Puget Sound Energy</p>
    </div>
  </div>
</div>
