---
title: Glacier Energy Storage Project
---

<div class="container-big">
<!--   <h1 class="title">Point Roberts Substation</h1> -->
  <div class="project-wrapper" style="padding-top: 120px">
  <!-- Slideshow images -->
    <div class="produk-details-left">
      <ul class="lightgallery" id="lightSlider">
        <li data-src="/images/projects/power/glacier/glacier-1.png" data-thumb="/images/projects/power/glacier/glacier-1.png">
          <img src="/images/projects/power/glacier/glacier-1.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/glacier/glacier-2.png" data-thumb="/images/projects/power/glacier/glacier-2.png">
          <img src="/images/projects/power/glacier/glacier-2.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/glacier/glacier-3.png" data-thumb="/images/projects/power/glacier/glacier-3.png">
          <img src="/images/projects/power/glacier/glacier-3.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/glacier/glacier-4.png" data-thumb="/images/projects/power/glacier/glacier-4.png">
          <img src="/images/projects/power/glacier/glacier-4.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/glacier/glacier-5.png" data-thumb="/images/projects/power/glacier/glacier-5.png">
          <img src="/images/projects/power/glacier/glacier-5.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/glacier/glacier-6.png" data-thumb="/images/projects/power/glacier/glacier-6.png">
          <img src="/images/projects/power/glacier/glacier-6.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/glacier/glacier-7.png" data-thumb="/images/projects/power/glacier/glacier-7.png">
          <img src="/images/projects/power/glacier/glacier-7.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/glacier/glacier-8.png" data-thumb="/images/projects/power/glacier/glacier-8.png">
          <img src="/images/projects/power/glacier/glacier-8.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/glacier/glacier-9.png" data-thumb="/images/projects/power/glacier/glacier-9.png">
          <img src="/images/projects/power/glacier/glacier-9.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/glacier/glacier-10.png" data-thumb="/images/projects/power/glacier/glacier-10.png">
          <img src="/images/projects/power/glacier/glacier-10.png" width="600px" />
        </li>
      </ul>
    </div>

    <div class="project-description">
      <h3>Glacier Energy Storage Project</h3>
      <p>Civil and concrete subcontractor to RES America Construction to support construction of an innovative battery storage facility adjacent to a live substation in Glacier, WA.  Set within the Mt. Baker-Snoqualmie National Forest, the system will provide up to 18 hours of backup power to Glacier during outages as well as addressing system peaking and flexibility. Rain and snow were challenges to
      overcome.</p>
      <h6>Location</h6>
      <p>Glacier, WA</p>
      <h6>Status</h6>
      <p>Completed March 2016</p>
      <h6>Client</h6>
      <p>Puget Sound Energy</p>
    </div>
  </div>
</div>
