---
title: Wild Horse Wind Farm
---

<div class="container-big">
<!--   <h1 class="title">Wild Horse Wind Farm</h1> -->
  <div class="project-wrapper" style="padding-top: 120px">
  <!-- Slideshow images -->
    <div class="bss-slides demo1" tabindex="1" autofocus="autofocus" style="border: 2px solid black">
      <figure>
        <img src="/images/Screenshot 2015-06-26 16.03.18.png" width="600px" height="400px"/>
        <figcaption></figcaption>
      </figure>
      <figure>
        <img src="/images/Screenshot 2015-06-26 16.01.17.png" width="600px" height="400px"/>
        <figcaption></figcaption>
      </figure>
      <figure>
        <img src="/images/Screenshot 2015-06-26 16.03.04.png" width="600px" height="400px"/>
        <figcaption></figcaption>
      </figure>
    </div>

    <div class="project-description">
      <h3>Wild Horse Wind Farm</h3>
      <p><%= lorem.sentences 5 %></p>
      <h6>Location</h6>
      <p>Ellensburg, WA</p>
      <h6>Status</h6>
      <p>Completed August 2007</p>
      <h6>Client</h6>
      <p>Puget Sound Energy</p>
    </div>
  </div>
</div>
