---
title: Sedro Woolley Substation
---

<div class="container-big">
<!--   <h1 class="title">Sedro Woolley Substation</h1> -->
  <div class="project-wrapper" style="padding-top: 120px">
  <!-- Slideshow images -->
    <div class="produk-details-left">
      <ul class="lightgallery" id="lightSlider">
        <li data-src="/images/projects/power/sedro/sedro_sub-1.png" data-thumb="/images/projects/power/sedro/sedro_sub-1.png">
          <img src="/images/projects/power/sedro/sedro_sub-1.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/sedro/sedro_sub-2.png" data-thumb="/images/projects/power/sedro/sedro_sub-2.png">
          <img src="/images/projects/power/sedro/sedro_sub-2.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/sedro/sedro_sub-3.png" data-thumb="/images/projects/power/sedro/sedro_sub-3.png">
          <img src="/images/projects/power/sedro/sedro_sub-3.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/sedro/sedro_sub-4.png" data-thumb="/images/projects/power/sedro/sedro_sub-4.png">
          <img src="/images/projects/power/sedro/sedro_sub-4.png" width="600px" />
        </li>
      </ul>
    </div>

    <div class="project-description">
      <h3>Sedro Woolley 230kV Substation</h3>
      <p> Expand an existing substation in Sedro Woolley, WA.  Work included rough & finish grading, storm drainage, concrete foundations, SPCC containment, yard & top course gravel, electrical conduit, cable trench and ground grid.  Hydro-seeding, auger cast piling, and the conduit & ground grid installation were subcontracted.  This is one of several projects we have completed within this substation.</p>
      <h6>Location</h6>
      <p>Sedro Woolley, WA</p>
      <h6>Status</h6>
      <p>Completed November 2012</p>
      <h6>Client</h6>
      <p>Puget Sound Energy</p>
    </div>
  </div>
</div>
