---
title: Spurgeon Substation
---

<div class="container-big">
<!--   <h1 class="title">Spurgeon Substation</h1> -->
  <div class="project-wrapper" style="padding-top: 120px">
  <!-- Slideshow images -->
    <div class="produk-details-left">
      <ul class="lightgallery" id="lightSlider">
        <li data-src="/images/projects/power/spurgeon/spurgeon_sub-1.png" data-thumb="/images/projects/power/spurgeon/spurgeon_sub-1.png">
          <img src="/images/projects/power/spurgeon/spurgeon_sub-1.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/spurgeon/spurgeon_sub-2.png" data-thumb="/images/projects/power/spurgeon/spurgeon_sub-2.png">
          <img src="/images/projects/power/spurgeon/spurgeon_sub-2.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/spurgeon/spurgeon_sub-3.png" data-thumb="/images/projects/power/spurgeon/spurgeon_sub-3.png">
          <img src="/images/projects/power/spurgeon/spurgeon_sub-3.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/spurgeon/spurgeon_sub-4.png" data-thumb="/images/projects/power/spurgeon/spurgeon_sub-4.png">
          <img src="/images/projects/power/spurgeon/spurgeon_sub-4.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/spurgeon/spurgeon_sub-5.png" data-thumb="/images/projects/power/spurgeon/spurgeon_sub-5.png">
          <img src="/images/projects/power/spurgeon/spurgeon_sub-5.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/spurgeon/spurgeon_sub-6.png" data-thumb="/images/projects/power/spurgeon/spurgeon_sub-6.png">
          <img src="/images/projects/power/spurgeon/spurgeon_sub-6.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/spurgeon/spurgeon_sub-7.png" data-thumb="/images/projects/power/spurgeon/spurgeon_sub-7.png">
          <img src="/images/projects/power/spurgeon/spurgeon_sub-7.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/spurgeon/spurgeon_sub-8.png" data-thumb="/images/projects/power/spurgeon/spurgeon_sub-8.png">
          <img src="/images/projects/power/spurgeon/spurgeon_sub-8.png" width="600px" />
        </li>
      </ul>
    </div>

    <div class="project-description">
      <h3>Spurgeon Substation</h3>
      <p>Civil and concrete contractor for Puget Sound Energy’s new 115kV substation in Olympia, WA.  The scope included clearing and grading an 8 acre site, importing base course fill and yard rock surfacing, an extensive storm drain system and detention pond, placing foundations totaling 660 yards of concrete, perimeter security fencing,  and the underground electrical conduits, cable trench and ground grid.  Cutting and filling to balance the site with over 19,000 yards of moisture-sensitive glacial till during an extremely dry summer and wet fall was a challenge. We self-performed all work except landscaping, fencing and electrical installation.</p>
      <h6>Contract</h6>
      <p>$2,573,000</p>
      <h6>Location</h6>
      <p>Lacey, WA</p>
      <h6>Status</h6>
      <p>Completed February 2016</p>
      <h6>Client</h6>
      <p>Puget Sound Energy</p>
    </div>
  </div>
</div>
