---
title: Wild Horse 500kV Solar Project
---

<div class="container-big">
<!--   <h1 class="title">Wild Horse Wind Farm</h1> -->
  <div class="project-wrapper" style="padding-top: 120px">
  <!-- Slideshow images -->
    <div class="produk-details-left">
      <ul class="lightgallery" id="lightSlider">
        <li data-src="/images/projects/power/wildhorse/wildhorse-1.png" data-thumb="/images/projects/power/wildhorse/wildhorse-1.png">
          <img src="/images/projects/power/wildhorse/wildhorse-1.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/wildhorse/wildhorse-2.png" data-thumb="/images/projects/power/wildhorse/wildhorse-2.png">
          <img src="/images/projects/power/wildhorse/wildhorse-2.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/wildhorse/wildhorse-3.png" data-thumb="/images/projects/power/wildhorse/wildhorse-3.png">
          <img src="/images/projects/power/wildhorse/wildhorse-3.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/wildhorse/wildhorse-4.png" data-thumb="/images/projects/power/wildhorse/wildhorse-4.png">
          <img src="/images/projects/power/wildhorse/wildhorse-4.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/wildhorse/wildhorse-5.png" data-thumb="/images/projects/power/wildhorse/wildhorse-5.png">
          <img src="/images/projects/power/wildhorse/wildhorse-5.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/wildhorse/wildhorse-6.png" data-thumb="/images/projects/power/wildhorse/wildhorse-6.png">
          <img src="/images/projects/power/wildhorse/wildhorse-6.png" width="600px" />
        </li>
        <li data-src="/images/projects/power/wildhorse/wildhorse-7.png" data-thumb="/images/projects/power/wildhorse/wildhorse-7.png">
          <img src="/images/projects/power/wildhorse/wildhorse-7.png" width="600px" />
        </li>
      </ul>
    </div>

    <div class="project-description">
      <h3>Wild Horse 500 kV Solar Project</h3>
      <p> Concrete subcontractor to EI Solutions to support construction of a solar
      array in Ellensburg, WA. Many piers were placed in rock which required drilling
      and grouting rebar stubs 5' into the ground. More standard spread footings
      and piers were placed where gravel soil was found. In all cases alignment
      of embedded steel posts was critical to the superstructure. We also constructed
      two masonry and steel transformer enclosures on concrete pads.</p>
      <h6>Location</h6>
      <p>Ellensburg, WA</p>
      <h6>Status</h6>
      <p>Completed September 2007</p>
      <h6>Client</h6>
      <p>Puget Sound Energy</p>
    </div>
  </div>
</div>
