---
title: Projects - Commercial
---

<div class="container-big">
  <h1 class="title project-title" id="commercial-title">Commercial Projects</h1>
  <div class="gallery">
    <a href="commercial-projects/boysandgirlsclub.html">
      <div class="gallery-box commercial-1">
        <h3>Boys and Girls Club</h3>
      </div>
    </a>

    <a href="commercial-projects/commcenter.html">
      <div class="gallery-box commercial-2">
        <h3>FSD Communications Center</h3>
      </div>
    </a>

    <a href="commercial-projects/tribalcenter.html">
      <div class="gallery-box commercial-3">
        <h3>Swinomish Tribal Center</h3>
      </div>
    </a>

    <a href="commercial-projects/upperbakershop.html">
      <div class="gallery-box commercial-4">
        <h3>Upper Baker Shop</h3>
      </div>
    </a>

    <a href="commercial-projects/packwood.html">
      <div class="gallery-box commercial-5" id="last">
        <h3>Packwood Tailrace Fish Barrier</h3>
      </div>
    </a>
  </div>
</div>
