---
title: Projects - Power
---

<div class="container-big">
  <h1 class="title project-title">Power Projects</h1>
  <div class="gallery">
    <a href="power-projects/wildhorse.html">
      <div class="gallery-box power-1">
        <h3>Wildhorse Wind Farm</h3>
      </div>
    </a>

    <a href="power-projects/sedro.html">
      <div class="gallery-box power-2">
        <h3>Sedro Woolley Substation</h3>
      </div>
    </a>

    <a href="power-projects/alderton.html">
      <div class="gallery-box power-3">
        <h3>Alderton Substation</h3>
      </div>
    </a>

    <a href="power-projects/pointroberts.html">
      <div class="gallery-box power-4">
        <h3>Point Roberts Substation</h3>
      </div>
    </a>

    <a href="power-projects/spurgeon.html">
      <div class="gallery-box power-5">
        <h3>Spurgeon Creek Substation</h3>
      </div>
    </a>

    <a href="power-projects/glacier.html">
      <div class="gallery-box power-6" id="last">
        <h3>Glacier Energy Storage Project</h3>
      </div>
    </a>

  </div>
</div>
