@import 'normalize';
@import 'lightgallery';
@import 'lightslider';

/* ==================================================================
  PRIMARY STRUCTURE
================================================================== */

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-big {
  max-width: 1200px;
  margin: 0 auto;
}

$logo-red: #D82119;

.full-content {
  min-height: calc(100vh - 82px);
  /* set the footer on bottom! */
}

/* ==================================================================
  HEADER
================================================================== */

.header-cont {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 99;
}

.header {
  margin: 0px auto;
  background-color: white;
  border-bottom: 2px solid black;
  .text {
    display: inline-block;
    vertical-align: bottom;
  }
  img {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    height: 60px;
    width: auto;
  }
  .nav {
    float: right;
    vertical-align: top;
    padding-right: 20px;
    padding-top: 17px;
    display: inline-block;
    a {
      text-decoration: none;
      padding: 10px;
      font-size: 20px;
      color: black;
      padding-bottom: 15px;
    }
    a.current {
      border-bottom: 2px solid $logo-red;
    }
    a:hover {
      color: $logo-red;
      border-bottom: 2px solid $logo-red;
    }
  }
  h1 {
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 25px;
    text-align: center;
    padding-top: 8px;
  }
  .home-link {
    display: inline-block;
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: $logo-red;
    }
  }
}

@media all and (max-width: 921px) {

  .header h1 {
    display: none;
  }
}

@media all and (max-width: 549px) {

  .header img {
    display: none;
    width: 0%;
  }

  .header {
    height: 80px;
    .nav {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-right: 30px;
      ul {
        padding-left: 0px;
        padding-right: 0px;
      }
      a {
        font-size: 4vw;
      }
    }
  }

}


/* ==================================================================
  FOOTER
================================================================== */

.footer {
  display: block;
  height: 80px;
  background-color: $logo-red;
  clear: both;
  border-top: 2px solid black;
  font-family: 'Roboto Slab', serif;
  h3 {
    color: white;
    padding-right: 20px;
    float: right;
    line-height: 45px;
    font-size: 16px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: white;
  }
  p {
    float: left;
    padding-left: 20px;
    line-height: 45px;
    color: white;
    font-size: 16px;
  }
}

@media all and (max-width: 660px) {

  .footer {
    h3 {
      float: none;
      padding: 0;
      text-align: center;
      margin: 0;
      line-height: 0;
    }
    p {
      float: none;
      padding: 10px 0;
      text-align: center;
      line-height: 0;
    }
  }
}


/* ==================================================================
  SECTIONS
================================================================== */

section.module:last-child {
  margin-bottom: 0;
}

section.module p {
  margin-bottom: 40px;
  font-family: "Noto Sans", serif;
  font-size: 16px;
  font-weight: 300;
}

section.module p:last-child {
  margin-bottom: 20px;
}

section.module.content {
  padding: 40px 0;
  border: 2px solid black;
  border-style: solid none;
}

section.module.content:last-of-type {
  border-bottom: none;
}

section.module.parallax {
  padding: 90px 0;
  height: 380px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto Slab", serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image: url("../images/jumbotrons/index-jumbo-1.jpeg");
}

section.module.parallax-2 {
  background-image: url("../images/jumbotrons/index-jumbo-2.jpeg");
}

section.module.parallax-3 {
  background-image: url("../images/jumbotrons/index-jumbo-3.jpeg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

@media all and (max-width: 480px) {
  section.module.parallax {
    height: 80px;
    background-attachment: scroll;
  }
}



/* ==================================================================
  CONTACT
================================================================== */

iframe {
  display: block;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
  font-size: 48px;
  padding-right: 10px;
  vertical-align: middle;
}

.material-icons.md-address {
  color: $logo-red;
  font-size: 48px;
  text-decoration: none;
}


.contact-info {
  background-color: $logo-red;
  height: 500px;
  border-bottom: 2px solid black;
}

.banner-text {
  text-align: center;
  h1 {
    padding-top: 220px;
    padding-bottom: 0;
    color: white;
    font-size: 80px;
    line-height: 1px;
    font-family: 'Oswald', serif;
  }
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
  }
  p {
    color: white;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Oswald', serif;
  }
}

.banner-contact-info {
  padding-right: 40px;
}

#or {
  padding: 0 20px 0 20px;
  font-size: 18px;
}

.map {
  display: inline-block;
}

.address-text {
  display: inline-block;
  padding-left: 50px;
  width: 420px;
  float: right;
  h3 {
    line-height: 0px;
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
  }
}

.address-row {
  display: block;
  padding: 60px 0;
  p {
    color: gray;
    font-family: 'Oswald', serif;
  }
}

.hours {
  padding-top: 50px;
}

.o_time {
  color: gray;
  font-family: 'Oswald', serif;
  span {
    display: inline-block;
    width: 180px;
    padding-bottom: 10px;
    font-family: 'Oswald', serif;
  }
}



/* ==================================================================
  ABOUT
================================================================== */

.about-jumbo {
  padding: 200px 0;
  height: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: 2px solid black;
  background-size: 100% auto;
  p {
    text-align: center;
    font-size: 80px;
    color: white;
    font-family: 'Oswald', serif;
    line-height: 0;
    text-shadow: 2px 2px 10px black;
  }
}

.about-jumbo#about {
  background-image: url("../images/jumbotrons/about-jumbo.jpg");
}

.our-company {
  display: block;
  padding: 60px 0;
  height: 400px;
}

#img-1 {
  height: auto;
  height: 400px;
}

.company-image {
  display: inline-block;
  width: 480px;
  float: left;
}

.company-text {
  display: inline-block;
  width: 400px;
  float: right;
  padding-right: 100px;
  h3 {
    line-height: 0px;
    font-size: 60px;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
  }
  p {
    font-size: 12px;
    font-family: 'Noto Sans', serif;
  }
}

.purpose-wrap {
  width: 100%;
  background-color: $logo-red;
  border: 2px solid black;
  border-style: solid none;
}

#img-2 {
  width: auto;
  height: 350px;
}

.purpose-image {
  display: inline-block;
  float: left;
}

.purpose-text {
  display: inline-block;
  width: 400px;
  float: left;
  padding-right: 80px;
  h3 {
    line-height: 0px;
    font-size: 60px;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    color: white;
  }
  p {
    font-size: 12px;
    font-family: 'Noto Sans', serif;
    color: white;
  }
}

#img-3 {
  width: 480px;
  height: auto;
  padding-right: 80px;
}

.standards-text {
  display: inline-block;
  width: 400px;
  float: left;
  h3 {
    line-height: 0px;
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    color: black;
  }
}

.standards-list {
  padding-left: 20px;
  list-style: none;
  li {
    font-size: 24px;
    font-family: 'Oswald', serif;
    color: $logo-red;
    padding-bottom: 5px;
    :before {
      content:"- ";
    }
  }
}

.standards-image {
  display: inline-block;
  float: left;
}

.standards-wrap {
  height: 520px;
}

#purpose {
  height: 480px;
}

#thumbs {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
   text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  a {
    vertical-align: top;
    zoom: 1;
  }
  img {
    height: 100px;
    width: auto;
  }
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.partners-wrapper p {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  color: $logo-red;
  line-height: 0;
  padding-bottom: 10px;
}

/* ==================================================================
  PEOPLE
================================================================== */

.about-jumbo#people {
  background-image: url("https://download.unsplash.com/photo-1433959352364-9314c5b6eb0b");
  background-size: 100% auto;
  border-bottom: none;
  .title {
    padding-top: 20px;
    vertical-align: middle;
    color: white;
    text-shadow: 2px 2px 10px black;
  }
}

#first {
  display: inline-block;
  float: left;
  width: 20%;
  min-width: 300px;
}

.pic-left {
  display: block;
  padding-top: 30px;
  height: 300px;
  margin-bottom: 0;
}

.people-text-left {
  display: inline-block;
  color: white;
  float: left;
  padding-left: 50px;
  width: 70%;
  font-family: 'Noro Sans', serif;
  h1 {
    line-height: .8;
    margin-top: 0;
    font-family: "Roboto Slab", serif;
    font-size: 40px;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: block;
    a {
      color: white;
    }
    p {
      font-family: "Oswald", serif;
      display: inline-block;
      line-height: 0;
      vertical-align: middle;
      height: 100%;
      padding-left: 10px;
      font-size: 24px;
    }
  }
}

#second {
  float: right;
  display: inline-block;
}

.pic-right {
  display: block;
  height: 300px;
  padding-top: 30px;
}

.people-text-right {
  float: left;
  display: inline-block;
  width: 70%;
  padding-right: 50px;
  font-family: 'Noro Sans', serif;
  h1 {
    line-height: .8;
    margin-top: 0;
    font-family: "Roboto Slab", serif;
    font-size: 40px;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: block;
    a {
      color: black;
    }
    p {
      font-family: "Oswald", serif;
      display: inline-block;
      line-height: 0;
      vertical-align: top;
      height: 100%;
      padding-left: 10px;
      font-size: 24px;
    }
  }
}

@media all and (max-width: 600px) {

  .pic-left {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
  }

  .pic-right {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
  }

  #first {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #second {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .people-text-right {
    display: block;
    padding: 0 10%;
  }
}


/* ==================================================================
  PROJECTS
================================================================== */

.pic-container {
  padding: 30px 0;
  height: 300px;
  .box-holder {
    a {
      text-decoration: none;
      color: black;
      :hover {
        color: $logo-red;
        opacity: .4;
      }
    }
  }
}

.about-jumbo#projects {
  background-image: url("../images/jumbotrons/projects-jumbo.jpg");
  background-size: 100% auto;
  .title {
    padding-top: 20px;
    vertical-align: middle;
    color: white;
    text-shadow: 2px 2px 10px black;
  }
}

.box-holder {
  width: 33.3%;
  float: left;
  text-align: center;
  img {
    width: 92%;
    height: auto;
  }
  h3 {
    font-size: 24px;
    font-family: 'Noto Sans', serif;
    line-height: 0;
  }
}

.title {
  padding-top: 120px;
  text-align: center;
  font-size: 80px;
  line-height: 0;
  font-family: 'Oswald', serif;
}



/* ==================================================================
  PROJECTS - SUB-PROJECT
================================================================== */

.gallery {
  display: block;
  padding-top: 50px;
  height: 650px;
  .gallery-box:hover {
    opacity: .4;
  }
}

.gallery-box {
  display: inline-block;
  height: 280px;
  width: 280px;
  margin: 10px;
  float: left;
  background-repeat: no-repeat;
  text-align: center;
  background-size: 280px 280px;
  h3 {
    font-size: 40px;
    line-height: 280px;
    vertical-align: middle;
    margin: 0;
    visibility: hidden;
    color: $logo-red;
  }
  :hover {
    h3 {
      visibility: visible;
    }
  }
}

.project-wrapper {
  display: block;
  padding: 50px 0;
  margin: 0 auto;
  height: 400px;
}

#civil-project-one-img {
  display: inline-block;
  float: left;
}

.project-description {
  font-family: 'Roboto Slab', serif;
  line-height: 0px;
  display: inline-block;
  width: 40%;
  float: left;
  padding-left: 80px;
  p {
    font-family: 'Oswald', serif;
    line-height: 16px;
  }
  h6 {
    font-size: 16px;
    color: $logo-red;
    line-height: 0;
    margin: 0;
    padding: 10px 0;
  }
  h3 {
    color: $logo-red;
    font-size: 20px;
  }
}



/* ==================================================================
  GALLERY IMAGES - COMMERCIAL
================================================================== */

.commercial-1 {
  background-image: url("/images/projects/commercial/boysandgirlsclub/b-and-g-1.jpg");
}

.commercial-2 {
  background-image: url("/images/projects/commercial/commcenter/commcenter-1.JPG");
}

.commercial-3 {
  background-image: url("/images/projects/commercial/tribalcenter/tribalcenter-1.jpg");
}

.commercial-4 {
  background-image: url("/images/projects/commercial/upperbakershop/upperbakershop-1.jpg");
}

.commercial-5 {
  background-image: url("http://static.pexels.com/photos/814/building-house-high-rise-hdr-large.jpg");
}

.commercial-6 {
  background-image: url("http://static.pexels.com/photos/389/black-and-white-night-building-house-large.jpg");
}

.commercial-7 {
  background-image: url("https://static.pexels.com/photos/6517/parking-multi-storey-car-park-large.jpg");
}

.commercial-8 {
  background-image: url("https://static.pexels.com/photos/2747/restaurant-street-bricks-house-large.jpg");
}



/* ==================================================================
  GALLERY IMAGES - CIVIL
================================================================== */

.civil-1 {
  background-image: url("https://static.pexels.com/photos/2469/building-construction-building-site-constructing-large.jpg");
}

.civil-2 {
  background-image: url("https://static.pexels.com/photos/2489/street-building-construction-industry-large.jpg");
}

.civil-3 {
  background-image: url("https://static.pexels.com/photos/4510/construction-tractor-excavator-site-large.jpg");
}

.civil-4 {
  background-image: url("https://static.pexels.com/photos/3527/rubble-street-construction-large.jpg");
}

.civil-5 {
  background-image: url("https://static.pexels.com/photos/5153/construction-industry-crane-leaves-large.jpg");
}

.civil-6 {
  background-image: url("https://static.pexels.com/photos/3828/sky-ditch-eye-hole-medium.jpg");
}

.civil-7 {
  background-image: url("https://static.pexels.com/photos/818/sea-sunny-beach-holiday-large.jpg");
}

.civil-8 {
  background-image: url("https://static.pexels.com/photos/5159/road-mountains-street-curve-large.jpg");
}



/* ==================================================================
  GALLERY IMAGES - POWER
================================================================== */

.power-1 {
  background-image: url("/images/projects/power/wildhorse/wildhorse-7.png");
}

.power-2 {
  background-image: url("/images/projects/power/sedro/sedro_sub-1.png");
}

.power-3 {
  background-image: url("/images/projects/power/alderton/alderton_sub-8.png");
}

.power-4 {
  background-image: url("/images/projects/power/pointroberts/point_roberts_sub-5.png");
}

.power-5 {
  background-image: url("/images/projects/power/spurgeon/spurgeon_sub-6.png");
}

.power-6 {
  background-image: url("/images/projects/power/glacier/glacier-9.png");
}

.power-7 {
  background-image: url("https://static.pexels.com/photos/327/light-sky-lights-night-large.jpg");
}

.power-8 {
  background-image: url("https://static.pexels.com/photos/134/light-creative-abstract-colorful-large.jpg");
}



/* ==================================================================
  SLIDESHOW
================================================================== */

.bss-slides{
  background: #000;
  position: relative;
  display: block;
  width: 600px;
  float: left;
}
.bss-slides:focus{
 outline: 0;
}
.bss-slides figure{
  position: absolute;
  top: 0;
  width: 100%;
  height: 400px;
}
.bss-slides figure:first-child{
  position: relative;
}
.bss-slides figure img{
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  position: relative;
/*-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  */
}
.bss-slides .bss-show {
  z-index: 3;
}
.bss-slides .bss-show img{
  opacity: 1;
 /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden;*/
}

.bss-slides figcaption{
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .25);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}
.bss-slides .bss-show figcaption{
  z-index: 2;
  opacity: 1;
}
.bss-slides figcaption a{
  color: #fff;
}
.bss-next, .bss-prev{
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 4;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: .5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bss-next:hover, .bss-prev:hover{
  cursor: pointer;
  opacity: 1;
}
.bss-next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.bss-prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.bss-fullscreen{
  display: block;
  width: 24px;
  height: 24px;
  background: rgba(0,0,0,.3) url(http://leemark.github.io/better-simple-slideshow/img/arrows-alt_ffffff_64.png);
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  opacity: .3;
}
.bss-fullscreen:hover{
  opacity: .8;
}
:-webkit-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(http://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
:-moz-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(http://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
    background-size: contain;
}
:-ms-fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(http://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
    background-size: contain;
}
:full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(http://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
:-webkit-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(http://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
:-moz-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(http://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
    background-size: contain;
}
:-ms-fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(http://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
    background-size: contain;
}
:fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(http://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}



/* ==================================================================
  LightGallery
================================================================== */

.produk-details-left {
  width: 600px;
  float: left;
}

// custom height of thumbnail gallery images
.lSSlideOuter .lSPager.lSGallery img {
  height: 50px;
}
