/* ==================================================================
  PRIMARY STRUCTURE
================================================================== */

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-big {
  max-width: 1200px;
  margin: 0 auto;
}



/* ==================================================================
  HEADER
================================================================== */

.header-cont {
  width: 100%;
  position: fixed;
  top: 0px;
}

.header {
  margin: 0px auto;
  background-color: white;
  border-bottom: 2px solid black;
}

.header .text {
  display: inline-block;
  vertical-align: bottom;
}

.header img {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  height: 40px;
  width: 40px;
}

.header .nav {
  float: right;
  vertical-align: top;
  padding-right: 20px;
  padding-top: 17px;
  display: inline-block;
}

.header .nav a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: black;
}

.header a:hover {
  color: red;
}

.header h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 25px;
  text-align: center;
  padding-top: 8px;
}

.header .home-link {
  display: inline-block;
  width: 50%;
}

.header .home-link a {
  color: black;
  text-decoration: none;
}

.header .home-link a:hover {
  color: red;
}


/* ==================================================================
  FOOTER
================================================================== */

.footer {
  display: block;
  height: 80px;
  background-color: black;
  clear: both;
  border-top: 2px solid red;
  font-family: 'Noto Sans', serif;
}

.footer h3 {
  color: white;
  padding-right: 20px;
  float: right;
  padding-top: 6px;
}

.footer a {
  text-decoration: none;
  color: #FF0000;
}



/* ==================================================================
  SECTIONS
================================================================== */

section.module:last-child {
  margin-bottom: 0;
}

section.module p {
  margin-bottom: 40px;
  font-family: "Noto Sans", serif;
  font-size: 16px;
  font-weight: 300;
}

section.module p:last-child {
  margin-bottom: 20px;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  padding: 200px 0;
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto Slab", serif;
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../images/building.jpeg");
}
section.module.parallax-2 {
  background-image: url("../images/glass.jpeg");
}
section.module.parallax-3 {
  background-image: url("../images/ny.jpeg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}



/* ==================================================================
  CONTACT
================================================================== */

iframe {
  display: block;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
  font-size: 48px;
  padding-right: 10px;
  vertical-align: middle;
}

.material-icons.md-address {
  color: red;
  font-size: 48px;
  text-decoration: none;
}


.contact-info {
  background-color: red;
  height: 500px;
  border-bottom: 2px solid black;
}

.banner-text {
  text-align: center;
}

.banner-text h1 {
  padding-top: 220px;
  padding-bottom: 0;
  color: white;
  font-size: 80px;
  line-height: 1px;
  font-family: 'Oswald', serif;
}

.banner-text ul {
  list-style: none;
}

.banner-text li {
  display: inline-block;
}

.banner-text p {
  color: white;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Oswald', serif;
}

.banner-contact-info {
  padding-right: 40px;
}

#or {
  padding: 0 20px 0 20px;
  font-size: 18px;
}

.map {
  display: inline-block;
}

.address-text {
  display: inline-block;
  padding-left: 50px;
  width: 420px;
  float: right;
}

.address-row {
  display: block;
  padding: 60px 0;
}

.address-text h3 {
  line-height: 0px;
  font-size: 40px;
  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
}

.address-text p {
  color: gray;
  font-family: 'Oswald', serif;
}

.hours {
  padding-top: 50px;
}

.o_time {
  color: gray;
  font-family: 'Oswald', serif;
}

.o_time span {
  display: inline-block;
  width: 180px;
  padding-bottom: 10px;
  font-family: 'Oswald', serif;
}



/* ==================================================================
  ABOUT
================================================================== */

.about-jumbo {
  background-image: url("../images/construction-site-jumbotron copy.jpg");
  padding: 200px 0;
  height: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: 2px solid black;
}

.about-jumbo p {
  text-align: center;
  font-size: 80px;
  color: white;
  font-family: 'Oswald', serif;
  line-height: 0;
  text-shadow: 2px 2px 10px black;
}

.about-jumbo #top {
}

.our-company {
  display: block;
  padding: 60px 0;
  height: 400px;
}

#img-1 {
  height: auto;
  height: 400px;
}

.company-image {
  display: inline-block;
  width: 480px;
  float: left;
}

.company-text {
  display: inline-block;
  width: 400px;
  float: right;
  padding-right: 100px;
}

.company-text h3 {
  line-height: 0px;
  font-size: 60px;
  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
}

.company-text p {
  font-size: 12px;
  font-family: 'Noto Sans', serif;
}

.purpose-wrap {
  width: 100%;
  background-color: red;
  border: 2px solid black;
  border-style: solid none;
}

#img-2 {
  width: auto;
  height: 350px;
}

.purpose-image {
  display: inline-block;
  float: right;
  padding-right: 60px;
}

.purpose-text {
  display: inline-block;
  width: 400px;
  float: left;
}

.purpose-text h3 {
  line-height: 0px;
  font-size: 60px;
  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
  color: white;
}

.purpose-text p {
  font-size: 12px;
  font-family: 'Noto Sans', serif;
  color: white;
}

#img-3 {
  width: 480px;
  height: auto;
}

.standards-text {
  display: inline-block;
  width: 450px;
  float: right;
  padding-right: 150px;
}

.standards-text h3 {
  line-height: 0px;
  font-size: 60px;
  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
  color: black;
}

.standards-list {
  padding-left: 20px;
  list-style: none;
}

.standards-list li {
  font-size: 24px;
  font-family: 'Oswald', serif;
  color: red;
  padding-bottom: 5px;
}

.standards-list li:before {
  content:"- ";
}

.standards-image {
  display: inline-block;
  float: left;
}

#purpose {
  height: 480px;
}
