/* ==================================================================
  PRIMARY STRUCTURE
================================================================== */

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header .text {
  display: inline-block;
  vertical-align: bottom;
}

.header img {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  height: 40px;
  width: 40px;
}

.header .nav {
  float: right;
  vertical-align: top;
  padding-right: 20px;
  padding-top: 17px;
  display: inline-block;
}

.header .nav a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: #FF0000;
}


h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 25px;
  text-align: center;
  padding-top: 8px;
}

.accent {
  padding: 1px;
  background-color: black;
}

.footer {
  display: block;
  height: 80px;
  background-color: black;
}

.footer h3 {
  color: white;
  padding-right: 20px;
  float: right;
  padding-top: 6px;
}

.footer a {
  text-decoration: none;
  color: #FF0000;
}

.accent-footer {
  padding: 1px;
  background-color: red;
}


/* ==================================================================
  SECTIONS
================================================================== */

section.module:last-child {
  margin-bottom: 0;
}

section.module p {
  margin-bottom: 40px;
  font-family: "Noto Sans", serif;
  font-size: 16px;
  font-weight: 300;
}

section.module p:last-child {
  margin-bottom: 20px;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  padding: 200px 0;
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto Slab", serif;
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../images/building.jpeg");
}
section.module.parallax-2 {
  background-image: url("../images/glass.jpeg");
}
section.module.parallax-3 {
  background-image: url("../images/ny.jpeg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
