<div class="header-cont">
  <div class="header">
    <div class="home-link">
    <a href="/">
      <img src="/images/ps-logo.png">
      <div class="text">
        <h1>Pottle &amp; Sons Construction, Inc.</h1>
      </div>
    </a>
    </div>
    <div class="nav">
      <ul>
        <%= link_to "About", "/about.html" %>
        <%= link_to "Projects", "/projects.html" %>
        <%= link_to "People", "/people.html" %>
        <%= link_to "Contact", "/contact.html" %>
      </ul>
    </div>
  </div>
</div>
