---
title: Boys and Girls Club
---

<div class="container-big">
  <div class="project-wrapper" style="padding-top: 120px">
  <!-- Slideshow images -->
    <div class="produk-details-left">
      <ul class="lightgallery" id="lightSlider">
        <li data-src="/images/projects/commercial/boysandgirlsclub/b-and-g-1.jpg" data-thumb="/images/projects/commercial/boysandgirlsclub/b-and-g-1.jpg">
          <img src="/images/projects/commercial/boysandgirlsclub/b-and-g-1.jpg" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/boysandgirlsclub/b-and-g-2.jpg" data-thumb="/images/projects/commercial/boysandgirlsclub/b-and-g-2.jpg">
          <img src="/images/projects/commercial/boysandgirlsclub/b-and-g-2.jpg" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/boysandgirlsclub/b-and-g-3.jpg" data-thumb="/images/projects/commercial/boysandgirlsclub/b-and-g-3.jpg">
          <img src="/images/projects/commercial/boysandgirlsclub/b-and-g-3.jpg" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/boysandgirlsclub/b-and-g-4.jpg" data-thumb="/images/projects/commercial/boysandgirlsclub/b-and-g-4.jpg">
          <img src="/images/projects/commercial/boysandgirlsclub/b-and-g-4.jpg" width="600px" />
        </li>
      </ul>
    </div>

    <div class="project-description">
      <h3>Ferndale Boys and Girls Club</h3>
      <p>Construct a new 21,000 sq. ft. wood-framed facility for the Ferndale Boys & Girls Club.  Creative architecture blends the facility with historic Pioneer Park.  The facilillty houses all functions of the Club including offices, lunch and game rooms, kitchen, Teen Center, arts, crafts, tutoring, and a full gym.  Challenges included pre-loading the site and raising the finish floor height above the flood plain of the Nooksack River.  We self-performed the civil, concrete, and carpentry work.</p>
      <h6>Contract</h6>
      <p>$3,130,000</p>
      <h6>Location</h6>
      <p>Ferndale, WA</p>
      <h6>Status</h6>
      <p>Completed 2010</p>
      <h6>Client</h6>
      <p>City of Ferndale</p>
    </div>
  </div>
</div>
