---
title: Ferndale School District Communications Center
---

<div class="container-big">
  <div class="project-wrapper" style="padding-top: 120px">
  <!-- Slideshow images -->
    <div class="produk-details-left">
      <ul class="lightgallery" id="lightSlider">
        <li data-src="/images/projects/commercial/commcenter/commcenter-1.JPG" data-thumb="/images/projects/commercial/commcenter/commcenter-1.JPG">
          <img src="/images/projects/commercial/commcenter/commcenter-1.JPG" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/commcenter/commcenter-2.JPG" data-thumb="/images/projects/commercial/commcenter/commcenter-2.JPG">
          <img src="/images/projects/commercial/commcenter/commcenter-2.JPG" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/commcenter/commcenter-3.JPG" data-thumb="/images/projects/commercial/commcenter/commcenter-3.JPG">
          <img src="/images/projects/commercial/commcenter/commcenter-3.JPG" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/commcenter/commcenter-4.jpeg" data-thumb="/images/projects/commercial/commcenter/commcenter-4.jpeg">
          <img src="/images/projects/commercial/commcenter/commcenter-4.jpeg" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/commcenter/commcenter-5.jpeg" data-thumb="/images/projects/commercial/commcenter/commcenter-5.jpeg">
          <img src="/images/projects/commercial/commcenter/commcenter-5.jpeg" width="600px" />
        </li>
      </ul>
    </div>

    <div class="project-description">
      <h3>Ferndale School District Communications Center</h3>
      <p>Construct a new 1,634 sq. ft. single-story wood frame structure which houses the Ferndale School District’s central server room along with meeting and office space.  The extensive infrastructure includes redundant cooling, a propane back-up generator and UPS system to maintain the District’s communications and network services during emergencies.</p>
      <h6>Contract</h6>
      <p>$630,500</p>
      <h6>Location</h6>
      <p>Ferndale, WA</p>
      <h6>Status</h6>
      <p>Completed August 2014</p>
      <h6>Client</h6>
      <p>Ferndale School District</p>
    </div>
  </div>
</div>
