---
title: Ferndale School District Communications Center
---

<div class="container-big">
  <div class="project-wrapper" style="padding-top: 120px">
  <!-- Slideshow images -->
    <div class="produk-details-left">
      <ul class="lightgallery" id="lightSlider">
        <li data-src="/images/projects/commercial/commcenter/commcenter-1.JPG" data-thumb="/images/projects/commercial/commcenter/commcenter-1.JPG">
          <img src="/images/projects/commercial/commcenter/commcenter-1.JPG" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/commcenter/commcenter-2.JPG" data-thumb="/images/projects/commercial/commcenter/commcenter-2.JPG">
          <img src="/images/projects/commercial/commcenter/commcenter-2.JPG" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/commcenter/commcenter-3.JPG" data-thumb="/images/projects/commercial/commcenter/commcenter-3.JPG">
          <img src="/images/projects/commercial/commcenter/commcenter-3.JPG" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/commcenter/commcenter-4.jpeg" data-thumb="/images/projects/commercial/commcenter/commcenter-4.jpeg">
          <img src="/images/projects/commercial/commcenter/commcenter-4.jpeg" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/commcenter/commcenter-5.jpeg" data-thumb="/images/projects/commercial/commcenter/commcenter-5.jpeg">
          <img src="/images/projects/commercial/commcenter/commcenter-5.jpeg" width="600px" />
        </li>
      </ul>
    </div>

    <div class="project-description">
      <h3>Ferndale School District Communications Center</h3>
      <p><%= lorem.sentences 5 %></p>
      <h6>Location</h6>
      <p>Ferndale, WA</p>
      <h6>Status</h6>
      <p>Completed on xx/xx/xxxx</p>
      <h6>Client</h6>
      <p>Ferndale School District</p>
    </div>
  </div>
</div>
