---
title: Swinomish Tribal Center
---

<div class="container-big">
  <div class="project-wrapper" style="padding-top: 120px">
  <!-- Slideshow images -->
    <div class="produk-details-left">
      <ul class="lightgallery" id="lightSlider">
        <li data-src="/images/projects/commercial/tribalcenter/tribalcenter-1.jpg" data-thumb="/images/projects/commercial/tribalcenter/tribalcenter-1.jpg">
          <img src="/images/projects/commercial/tribalcenter/tribalcenter-1.jpg" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/tribalcenter/tribalcenter-2.jpg" data-thumb="/images/projects/commercial/tribalcenter/tribalcenter-2.jpg">
          <img src="/images/projects/commercial/tribalcenter/tribalcenter-2.jpg" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/tribalcenter/tribalcenter-3.jpg" data-thumb="/images/projects/commercial/tribalcenter/tribalcenter-3.jpg">
          <img src="/images/projects/commercial/tribalcenter/tribalcenter-3.jpg" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/tribalcenter/tribalcenter-4.jpg" data-thumb="/images/projects/commercial/tribalcenter/tribalcenter-4.jpg">
          <img src="/images/projects/commercial/tribalcenter/tribalcenter-4.jpg" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/tribalcenter/tribalcenter-5.jpg" data-thumb="/images/projects/commercial/tribalcenter/tribalcenter-5.jpg">
          <img src="/images/projects/commercial/tribalcenter/tribalcenter-5.jpg" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/tribalcenter/tribalcenter-6.jpg" data-thumb="/images/projects/commercial/tribalcenter/tribalcenter-6.jpg">
          <img src="/images/projects/commercial/tribalcenter/tribalcenter-6.jpg" width="600px" />
        </li>
      </ul>
    </div>

    <div class="project-description">
      <h3>Swinomish Tribal Center</h3>
      <p>Our working relationship with the Community includes several remodeling and addition projects in LaConner, WA.  The most recent involved extensive repairs after a major roof failure on the Tribal Center.  Demolition and drying work morphed into a complete remodel and Code upgrade while respecting the history and significance of the building.  As always we self-performed the civil, concrete and carpentry work.  On all projects we were fortunate to work with excellent teams including John Stevens of the Tribe, Mark Pederson of Liddell/Pederson Architects, Julie Blazek of HKP Architects, and a selected group of subcontractors.</p>
      <h6>Contract</h6>
      <p>$4,960,000</p>
      <h6>Location</h6>
      <p>LaConner, WA</p>
      <h6>Status</h6>
      <p>Swinomish Social Services Center – completed 2001</p>
      <p>Swinomish Youth Center – completed 2007</p>
      <p>Swinomish Tribal Center – completed 2015</p>
      <h6>Client</h6>
      <p>Swinomish Tribe</p>
    </div>
  </div>
</div>
