---
title: Upper Baker Shop
---

<div class="container-big">
  <div class="project-wrapper" style="padding-top: 120px">
  <!-- Slideshow images -->
    <div class="produk-details-left">
      <ul class="lightgallery" id="lightSlider">
        <li data-src="/images/projects/commercial/upperbakershop/upperbakershop-1.jpg" data-thumb="/images/projects/commercial/upperbakershop/upperbakershop-1.jpg">
          <img src="/images/projects/commercial/upperbakershop/upperbakershop-1.jpg" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/upperbakershop/upperbakershop-2.jpg" data-thumb="/images/projects/commercial/upperbakershop/upperbakershop-2.jpg">
          <img src="/images/projects/commercial/upperbakershop/upperbakershop-2.jpg" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/upperbakershop/upperbakershop-3.jpg" data-thumb="/images/projects/commercial/upperbakershop/upperbakershop-3.jpg">
          <img src="/images/projects/commercial/upperbakershop/upperbakershop-3.jpg" width="600px" />
        </li>
        <li data-src="/images/projects/commercial/upperbakershop/upperbakershop-4.jpg" data-thumb="/images/projects/commercial/upperbakershop/upperbakershop-4.jpg">
          <img src="/images/projects/commercial/upperbakershop/upperbakershop-4.jpg" width="600px" />
        </li>
      </ul>
    </div>

    <div class="project-description">
      <h3>Upper Baker Shop</h3>
      <p>Construct a 4,500 sq. ft. shop to support Puget Sound Energy’s Baker River Hydroelectric Project in NW Washington.  The 23’ tall pre-engineered steel structure houses shop, office, locker, and lunch room uses.  Special features include custom siding, heated floor and exterior concrete slabs, a 1,500 sq. ft. storage mezzanine and 4-ton single girder crane.  We self-performed the civil, concrete, steel erection and carpentry work.</p>
      <h6>Location</h6>
      <p>Concrete, WA</p>
      <h6>Status</h6>
      <p>Completed 2006</p>
      <h6>Client</h6>
      <p>Puget Sound Energy</p>
    </div>
  </div>
</div>
