<div class="header-cont">
  <div class="header">
    <div class="home-link">
    <a href="/">
      <img src="../images/logo.png">
      <div class="text">
        <h1>Pottle and Sons Construction</h1>
      </div>
    </a>
    </div>
    <div class="nav">
    <a href="#" id="nav-menu"></a>
      <ul>
        <%= link_to "About", "/about.html" %>
        <a href="#">Projects</a>
        <%= link_to "People", "/people.html" %>
        <%= link_to "Contact", "/contact.html" %>
      </ul>
    </div>
  </div>
</div>
