<div class="header-cont">
  <div class="header">
    <div class="home-link">
    <a href="/">
      <img src="../images/logo.png">
      <div class="text">
        <h1>Pottle and Sons Construction</h1>
      </div>
    </a>
    </div>
    <div class="nav">
      <ul>
        <a href="#">About Us</a>
        <a href="#">Projects</a>
        <a href="#">People</a>
        <%= link_to "Contact", "/contact.html" %>
      </ul>
    </div>
  </div>
</div>
