<div class="container-big">
  <h1 class="title">Civil Project One</h1>
  <div class="project-wrapper">

    <img src="http://placehold.it/600x400" id="civil-project-one-img">
    <div class="project-description">
      <h3>PROJECT TITLE</h3>
      <p><%= lorem.sentences 5 %></p>
      <h6>Location</h6>
      <p>Project Location</p>
      <h6>Status</h6>
      <p>Completed on xx/xx/xxxx</p>
      <h6>Client</h6>
      <p>Client Name</p>
    </div>
  </div>
</div>
