<div class="contact-info">
  <div class="container">
    <div class="banner-text">
      <h1 id="contact">Contact Us!</h1>
      <ul class="banner-contact-info">
        <li>
          <i class="material-icons md-light">local_phone</i>
          <p>(360) 384-1543</p>
        </li>
        <p id="or">or</p>
        <li>
          <i class="material-icons md-light">email</i>
          <a href="mailto:info@pottleandsons.com" target="_top"><p>info@pottleandsons.com</p></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container address-row">
  <div class="map">
    <iframe width="480" height="480" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?q=Pottle%20and%20Sons%20Construction%2C%20Ferndale%2C%20WA%2C%20United%20States&key=<%= ENV['MAPS_API_KEY'] %>">
    </iframe>
  </div>
  <div class="address-text">
    <div class="address">
      <h3>Address</h3>
      <p>5747 Northwest Dr.</p>
      <p>Ferndale, WA</p>
      <p>98248</p>
      <a href="https://goo.gl/maps/xGUa2" target="_blank"><i class="material-icons md-address">directions</i></a>
    </div>
    <div class="hours">
      <h3>Hours of Operation</h3>
      <div class="o_time">
        <span>Monday - Friday:</span>9am - 5pm
      </div>
      <div class="o_time">
        <span>Saturday &amp; Sunday:</span>Closed
      </div>
    </div>
  </div>
</div>


