---
title: Pottle & Sons Construction
---

<!-- Jumbotron Section -->
<div class="about-jumbo" id="about">
  <div class="container-big">
    <p>Pottle & Sons Construction, Inc</p>
    <p>Proudly serving the Pacific Northwest since 1957</p>
  </div>
</div>
<!-- End Jumbotron Section -->

<!-- Company Section -->
<div class="container-big">
  <div class="our-company">
    <div class="company-image">
      <img id="img-1" src="/images/construction-site-2.jpg">
    </div>
    <div class="company-text">
      <h3>Our Company</h3>
      <p>Pottle & Sons works throughout the Washington State on diverse projects for both public and private clients.  As a general contractor we specialize in energy infrastructure, underground utility, and building projects.  As a subcontractor we perform earthwork, underground utility, concrete and carpentry work.  Our goal is to provide value to our clients by stressing cooperation, integrity, quality, economy and safety.</p>
    </div>
  </div>
</div>
<!-- End Company Section -->

  <!-- History Section -->
  <div class="purpose-wrap">
    <div class="container-big">
      <div class="our-company" id="purpose">
        <div class="purpose-text">
          <h3>Our History</h3>
          <p>Arthur Pottle and sons Harvey and Roy founded Pottle & Sons Construction in 1957 starting with small residential remodels and graduating to new home construction.  At some point a backhoe made sense and the “sitework division” was born.  Over the years we evolved into a full service general contractor serving public and private clients throughout the Pacific Northwest.  Our experience ranges from site development and underground utilities to commercial building construction and utility infrastructure.  We self-perform most of the site, concrete, and carpentry work on our projects.  Arthur, Harvey and Roy understood the schedule and quality control they achieved by performing that work themselves and we remain true to that vision today.</p>
          <p>Now entering a third generation of family ownership our company is large enough to do the job but still small enough to provide personal attention. Our goal has remained the same throughout the years – to provide a high degree of quality and economy, make a living, and be proud of what we do.</p>
        </div>
        <div class="purpose-image">
          <img id="img-2" src="/images/projects/commercial/packwood/packwood-1.png">
        </div>
      </div>
    </div>
  </div>
  <!-- End History Section -->

  <!-- Specialties Section -->
  <div class="standards-wrap">
    <div class="container-big">
      <div class="our-company" id="standards">
        <div class="standards-image">
          <img id="img-3" src="/images/projects/commercial/boysandgirlsclub/b-and-g-7.png">
        </div>
        <div class="standards-text">
          <h3>Our Specialties</h3>
          <ul class="standards-list">
            <li>Clearing & grading</li>
            <li>Underground utilities</li>
            <li>Substations</li>
            <li>Structural concrete</li>
            <li>Building construction</li>
            <li>Remodeling</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Specialties Section -->

  <!-- Partners Section -->
  <hr \>
  <div class="container-big">
    <div class="partners-wrapper">
      <p>Proud Members Of</p>
      <div id="thumbs">
        <a href="https://www.biaw.com/" target="_blank"><img src="/images/logos/biaw-logo.jpeg" class="partner-img"></a>
        <a href="http://www.liuna.org/" target="_blank"><img src="/images/logos/laborers-union-logo.png" class="partners-img"></a>
        <a href="http://www.carpenters.org/" target="_blank"><img src="/images/logos/carpenters-union-logo.gif" class="partner-img"></a>
        <a href="http://www.231teamsters.org/" target="_blank"><img src="/images/logos/teamsters-union-logo.png" class="partners-img"></a>
        <a href="http://www.iuoe.org/" target="_blank"><img src="/images/logos/operators-union-logo.jpg" class="partners-img"></a>
        <span class="stretch"></span>
      </div>
    </div>
  </div>
  <!-- End Partners Section -->
</div>
