---
title: Parallax Test
---
<div class="header">
  <img src="../images/logo.png">
  <div class="text">
    <h1>Pottle and Sons Construction</h1>
  </div>
</div>

<section class="module parallax parallax-1">
  <div class="container">
    <h1>Quality</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetus adipisicing elit...</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Reliability</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetus adipisicing elit...</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Buzzword</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetus adipisicing elit...</p>
  </div>
</section>
