---
title: Pottle and Sons Construction
---

<!-- Jumbotron Section -->
<div class="about-jumbo" id="about">
  <div class="container">
    <p id="top">At Pottle and Sons,</p>
    <p>We're All About Quality</p>
  </div>
</div>
<!-- End Jumbotron Section -->

<div class="container-big">
  <div class="our-company">
    <div class="company-image">
      <img id="img-1" src="/images/construction-site-2.jpg" style="width: 620px; height: auto">
    </div>
    <div class="company-text">
      <h3>Our Company</h3>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>

  <!-- Purpose Section -->
  <div class="purpose-wrap">
    <div class="container-big">
      <div class="our-company">
        <div class="purpose-text">
          <h3>Our Purpose</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="purpose-image">
          <img id="img-2" src="/images/construction-site-3.jpg" style="width: 620px; height: auto">
        </div>
      </div>
    </div>
  </div>
  <!-- End Purpose Section -->

  <!-- Standards Section -->
  <div class="standards-wrap">
    <div class="container-big">
      <div class="our-company" id="purpose">
        <div class="standards-image">
          <img id="img-3" src="http://static.pexels.com/photos/2469/building-construction-building-site-constructing-large.jpg" style="width: 620px; height: auto">
        </div>
        <div class="standards-text">
          <h3>Our Specialties</h3>
          <ul class="standards-list">
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Standards Section -->

  <!-- Partners Section -->
  <hr \>
  <div class="container-big">
    <div class="partners-wrapper">
      <p>Proud Members Of</p>
      <div id="thumbs">
        <a href="https://www.biaw.com/" target="_blank"><img src="/images/logos/biaw-logo.jpeg" class="partner-img"></a>
        <a href="http://www.liuna.org/" target="_blank"><img src="/images/logos/laborers-union-logo.png" class="partners-img"></a>
        <a href="http://www.carpenters.org/" target="_blank"><img src="/images/logos/carpenters-union-logo.gif" class="partner-img"></a>
        <a href="http://www.231teamsters.org/" target="_blank"><img src="/images/logos/teamsters-union-logo.png" class="partners-img"></a>
        <a href="http://www.iuoe.org/" target="_blank"><img src="/images/logos/operators-union-logo.jpg" class="partners-img"></a>
        <span class="stretch"></span>
      </div>
    </div>
  </div>
  <!-- End Partners Section -->
</div>
