---
title: People
---

<div class="container-big">
  <div class="pic-left" id="pic-left-first">
    <img id="first" src="http://static.pexels.com/photos/2867/sunglasses-woman-girl-faceless-large.jpg">

    <div class="people-text-left">
      <h1>Mark Pottle</h1>
      <p>Project Manager/Estimator</p>
      <p><%= lorem.sentences 5 %></p>
      <ul>
        <li>
          <i class="material-icons md-address">local_phone</i>
          <p class="contact">(360) 384-1543</p>
        </li>
        <li>
          <i class="material-icons md-address">email</i>
          <a href="mailto:mark@pottleandsons.com" target="_top" class="contact"><p>mark@pottleandsons.com</p></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="pic-right">
    <img id="second" src="http://static.pexels.com/photos/1212/man-person-people-italy-large.jpg" style="width: 300px; height: auto">

    <div class="people-text-right">
      <h1>Wade Pottle</h1>
      <p>Carpentry Division Manager</p>
      <p><%= lorem.sentences 5 %></p>
      <ul>
        <li>
          <i class="material-icons md-address">local_phone</i>
          <p class="contact">(360) 384-1543</p>
        </li>
        <li>
          <i class="material-icons md-address">email</i>
          <a href="mailto:wade@pottleandsons.com" target="_top" class="contact"><p>wade@pottleandsons.com</p></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="pic-left">
    <img id="first" src="http://static.pexels.com/photos/4636/person-woman-eyes-face-large.jpg" style="width: 300px; height: auto">

    <div class="people-text-left">
      <h1>Dan Dahlquist</h1>
      <p>Civil Division Manager</p>
      <p><%= lorem.sentences 5 %></p>
      <ul>
        <li>
          <i class="material-icons md-address">local_phone</i>
          <p class="contact">(360) 384-1543</p>
        </li>
        <li>
          <i class="material-icons md-address">email</i>
          <a href="mailto:dan@pottleandsons.com" target="_top" class="contact"><p>dan@pottleandsons.com</p></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="pic-right">
    <img id="second" src="https://static.pexels.com/photos/1654/fashion-person-woman-girl-large.jpg" style="width: 300px; height: auto">

    <div class="people-text-right">
      <h1>Debbie Dahlquist</h1>
      <p>Customer Support</p>
      <p><%= lorem.sentences 5 %></p>
      <ul>
        <li>
          <i class="material-icons md-address">local_phone</i>
          <p class="contact">(360) 384-1543</p>
        </li>
        <li>
          <i class="material-icons md-address">email</i>
          <a href="mailto:deb@pottleandsons.com" target="_top" class="contact"><p>debbie@pottleandsons.com</p></a>
        </li>
      </ul>
    </div>
  </div>
</div>
