---
title: People
---

<!-- Jumbotron Section -->
<div class="about-jumbo" id="people">
  <div class="container">
    <h1 class="title">People</h1>
  </div>
</div>

<h1 class="hidden-title-people">People</h1>
<!-- End Jumbotron Section -->

<div class="purpose-wrap">
  <div class="container">

    <div class="pic-left">
      <img class="people-pic-left" src="http://static.pexels.com/photos/4636/person-woman-eyes-face-large.jpg">

      <div class="people-text-left">
        <h1>Dan Dahlquist - Civil Division Manager</h1>
        <p>Came to Pottle & Sons in 1990 after 8 years of project management
          and quality control work at Kroll Construction. Splits time between
          estimating civil work and serving as superintendent on substation and
          underground utility projects. Dan is skilled in managing logistics
          and safety for projects completed within live substations. Excellent
          at reading plans and proactively recognizing conflicts and offering
          creative solutions. Successfully completed major projects at Berrydale,
          Boeing, Alderton and Spurgeon Substations for Puget Sound Energy.
          Estimated and managed projects for WWU, Skagit Valley College, Whatcom
          and Skagit County PUD's, and numerous municipalities. A 1981 graduate
          of Western Washington University with a degree in Business
          Administration.</p>
        <ul>
          <li>
            <i class="material-icons md-light">local_phone</i>
            <p class="contact">(360) 384-1543</p>
          </li>
          <li>
            <i class="material-icons md-light">email</i>
            <a href="mailto:dan@pottleandsons.com" target="_top" class="contact"><p>dan@pottleandsons.com</p></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="pic-right">
    <img class="people-pic-right" src="http://static.pexels.com/photos/1212/man-person-people-italy-large.jpg">

    <div class="people-text-right">
      <h1>Wade Pottle - Carpentry Division Manager</h1>
      <p>A lifetime at P&S starting as a laborer and carpenter during middle and
      high school summer vacations. Became full time after earning a Business
      Administration degree from WWU in 1981. Wade is a skilled carpenter and
      gravitated to the field to become foreman and superintendent on many projects.
      Expert at maximizing production while maintaining accuracy, quality, and safety.
      Specializes in concrete work but is highly capable in civil and building
      construction. Energy-related projects include Wild Horse Solar, Point Roberts,
      Sedro Woolley, Olympia and many other substations for Puget Sound Energy.
      Superintendent on Communications Center building for Ferndale School District
      as well as projects for Teresan Pipeline, Bellingham School District and WWU.
      Wade leads by example.</p>
      <ul>
        <li>
          <i class="material-icons md-address">local_phone</i>
          <p class="contact">(360) 384-1543</p>
        </li>
        <li>
          <i class="material-icons md-address">email</i>
          <a href="mailto:wade@pottleandsons.com" target="_top" class="contact"><p>wade@pottleandsons.com</p></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="purpose-wrap">
  <div class="container">
    <div class="pic-left" id="pic-left-first">
      <img class="people-pic-left" src="http://static.pexels.com/photos/2867/sunglasses-woman-girl-faceless-large.jpg">

      <div class="people-text-left">
        <h1>Mark Pottle - Project Manager/Estimator</h1>
        <p>Like brother Wade a P&S summer hire through middle and high school, and
        full time after graduating from WWU in 1980 with a BA in Business
        Administration. Split time in the field and the office while he learned
        estimating from Harvey (Dad). Now estimates concrete work and building projects
        and serves as lead project manager. Projects include many substations for
        Puget Sound Energy, Ferndale Boys & Girls Club, FSD Communications Center,
        and multiple projects for the Swinomish Tribal Community.</p>
        <ul>
          <li>
            <i class="material-icons md-light">local_phone</i>
            <p class="contact">(360) 384-1543</p>
          </li>
          <li>
            <i class="material-icons md-light">email</i>
            <a href="mailto:mark@pottleandsons.com" target="_top" class="contact"><p>mark@pottleandsons.com</p></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="pic-right">
    <img class="people-pic-right" src="https://static.pexels.com/photos/1654/fashion-person-woman-girl-large.jpg">

    <div class="people-text-right">
      <h1>Debbie Dahlquist - Customer Support</h1>
      <p>Learned the civil side of the business from Roy (Dad) working as a
      laborer and flagger after finishing high school. After raising a family took
      over office management and bookkeeping duties in 2007. Expertly manages all
      accounts payable and receivable. Maintains relationships with our banker and
      CPA while managing our job cost payroll systems.</p>
      <ul>
        <li>
          <i class="material-icons md-address">local_phone</i>
          <p class="contact">(360) 384-1543</p>
        </li>
        <li>
          <i class="material-icons md-address">email</i>
          <a href="mailto:deb@pottleandsons.com" target="_top" class="contact"><p>debbie@pottleandsons.com</p></a>
        </li>
      </ul>
    </div>
  </div>
</div>
