---
title: Projects
---

<div class="about-jumbo" id="projects">
  <h1 class="title">Projects</h1>
</div>

<div class="container-big">

  <div class="pic-container">
    <div class="box-holder">
      <a href="/projects/civil.html">
        <img src="http://static.pexels.com/photos/4510/construction-tractor-excavator-site-large.jpg">
        <h3>Civil</h3>
      </a>
    </div>

    <div class="box-holder">
      <a href="/projects/commercial.html">
        <img src="http://static.pexels.com/photos/378/black-and-white-city-building-house-large.jpg">
        <h3>Commercial</h3>
      </a>
    </div>

    <div class="box-holder">
      <a href="/projects/power.html">
        <img src="http://static.pexels.com/photos/917/dawn-twilight-dusk-electricity-large.jpg">
        <h3>Power</h3>
      </a>
    </div>
  </div>
</div>
