<div class="container-big">
  <h1 class="title">Projects</h1>

  <div class="pic-container">
    <div class="box-holder">
      <img src="http://placehold.it/300x300">
      <h3>Civil</h3>
    </div>

    <div class="box-holder">
      <img src="http://placehold.it/300x300">
      <h3>Commercial</h3>
    </div>

    <div class="box-holder">
      <img src="http://placehold.it/300x300">
      <h3>Power</h3>
    </div>
  </div>
</div>
